.sectionContainer {
    background-image: url("../../assets/branding-hero.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cover {
  /* height: auto; */
}