.logosSection {
        max-width: 1380px;
        margin: 0 auto;
        padding: 10px 10px;
}

.row {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.col {
    flex: 1 22%;
    text-align: left;
    margin-right: 10px;
    border-radius: 6px;
    padding: 20px 40px;
}