.sectionContainer {
  max-width: 1380px;
  margin: 0 auto;
  padding: 10px 10px;
}

.grid {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 100%;
  grid-template-rows: 1350px;
}

@media only screen and (max-width: 1080px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: repeat(6, 600px);
  }
}

.card1 {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  transition: transform .3s;
  margin-bottom: 30px;
}

.card1 img {
  width: 100%;
  height: 100%;
}

.eachSlide {
  height: 600px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  text-align: left;
}

.layout div {
  display: block;
  margin-bottom: 90px;
}

.layout p {
  margin: 0;
}

.layout div img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.square {
  height: 600px;
  width: 420px;
}

.portrait {
  height: 600px;
  width: 340px;
}

.landscape {
  height: 600px;
  width: 500px;
}

.layoutStructure {
  width: auto;
  height: 400px;
  margin-bottom: 30px;
}

.layoutStructure img {
  width: 100%;
  height: 100%;
}

.structures {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  margin-bottom: 30px;
}

.structures div img {
  width: 100%;
  height: 100%;
}