.sectionContainer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 10px;
}

.cardVertical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  margin-bottom: 10px;
}

.leftVertical {
  grid-column: 1 / 2;
  border: 1px solid black;
}

.leftVertical img {
 width: 100%;
 height: 100%; 
}

.rightVertical {
  grid-column: 2 / -1;
  border: 1px solid black;
}

.rightVertical img {
  width: 100%;
  height: 100%;
}

.cardHorizontal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 175px);
  margin-bottom: 10px;
}

.topHorizontal {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  border: 1px solid black;
}

.topHorizontal img {
  width: 100%;
  height: 100%; 
}

.bottomHorizontal {
  grid-column: 1 / -1;
  border: 1px solid black;
}

.bottomHorizontal img {
  width: 100%;
  height: 100%; 
}

.cardGridPrimary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 400px 200px;
  background-color: #62b7f8;
  border-radius: 6px;
}

.block img {
  width: 100%;
  height: 100%;
}

.block1 img {
  width: 100%;
  height: 100%;
}

.block2 img {
  width: 100%;
  height: 100%;
}

.block3 img {
  width: 100%;
  height: 100%;
}

.block3 {
  grid-column: 1 / -1;
}