.sectionButtons {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .content {
    flex: 1 20%;
    text-align: left;
    padding-right: 10px;
  }

  .buttons {
    flex: 1 20%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 40px;
    text-align: center;
  }

  .buttons p {
    margin-right: 15px;
    color: #8acf31;
  }

  .small {
    margin-bottom: 20px;
  }

  .medium {
    margin-bottom: 20px;
  }

  .large {
    margin-bottom: 20px;
  }

  .btnSmall {
    font-size: 16px;
    padding: 10px 35px;
    background-color: #8acf31;
  }

  .btnMedium {
    font-size: 18px;
    padding: 15px 45px;
    background-color: #8acf31;
  }

  .btnLarge {
    font-size: 20px;
    padding: 15px 60px;
    background-color: #8acf31;
  }