.colorsSection {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 65px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxPrimary {
    flex: 1 20%;
  }

.boxSecondary {
  flex: 1 10%;
}

.boxSecondary .a {
  background-color: #9fa1a5;
}
.boxSecondary .b {
  background-color: #7f838a;
}
.boxSecondary .c {
  background-color: #575757;
}

.main {
  /* height: 140px; */
  width: 100%;
  padding: 10px;
}

.a {
  height: 300px;
  width: 300px;
  background-color: #99d1f0;
  margin: 0 auto;
  border-radius: 160px;
  position: relative;
}

.b {
  height: 250px;
  width: 250px;
  left: 25px;
  top: 25px;
  background-color: #6ebee9;
  margin: 0 auto;
  border-radius: 160px;
  position: absolute;
}

.c {
  height: 200px;
  width: 200px;
  left: 25px;
  top: 25px;
  background-color: #11a1e0;
  margin: 0 auto;
  border-radius: 160px;
  position: absolute;
}
