.sectionContainer {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 10px;
  }

  .iconsGrid {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(17,156,21,0.737154236694678) 100%);
    flex-wrap: wrap;
    border-radius: 6px;
  }

  .gridColumn {
    margin: 20px;
    display: inline-block;
    text-align: center;
    width: 93%;
    flex: 1 12%;
  }

  .icon {
    font-size: 39px;
    color: #000000;
  }