.sectionContainer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 10px;
}

.sectionContainer div {
  /* margin-bottom: 20px; */
}

.openSans {
  width: 100%;
}

.muli {
  font-family: 'Muli';
}

.roboto {
  font-family: 'Roboto';
}

.oswald {
  font-family: 'Oswald';
}

.publicSans {
  font-family: 'Public Sans';
}

.saintGeorge {
  font-family: 'Saint George';
}

.arkibalSerif {
  font-family: 'Arkibal Serif';
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 10px;
  align-items: baseline;
  justify-content: space-between;
}

.font {
  flex: 1 20%;
  color:#587236;
}

.info {
  flex: 1 70%;
}

.divider {
  background: linear-gradient(
    to right,
    #8acf31,
    #11a1e0,
    #ffffff,
    #587236
  );
    flex-wrap: wrap;
    background-size: 500% 100%;
    animation: cobler 1s 0s linear infinite alternate;
  height: 5px;
  width: 100%;
}

@keyframes cobler {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}


.intro {
  flex: 1 20%;
  font-size: 60px;
  text-align: left;
}

.example {
  flex: 1 70%;
  font-size: 35px;
  text-align: left;
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 100;
}