.sectionContainer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 10px;
}

.sectionContainer div {
  margin-bottom: 20px;
  /* background-color: white; */
}

.openSans {
  width: 100%;
}

.muli {
  font-family: 'Muli';
}

.roboto {
  font-family: 'Roboto';
}

.oswald {
  font-family: 'Oswald';
}

.publicSans {
  font-family: 'Public Sans';
}

.saintGeorge {
  font-family: 'Saint George';
}

.arkibalSerif {
  font-family: 'Arkibal Serif';
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 10px;
  align-items: baseline;
  justify-content: space-between;
}

.font {
  flex: 1 20%;
  color:#8acf31;
}

.info {
  flex: 1 70%
}

.divider {
  background-color: #575757;
  height: 5px;
  width: 100%;
}

.intro {
  flex: 1 20%;
  font-size: 80px;
  text-align: left;
}

.example {
  flex: 1 70%;
  font-size: 35px;
  text-align: left;
}