.sectionContainer {
    max-width: 1380px;
    margin: 0 auto;
    padding: 10px 10px;
}

.elementsShowcase {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  margin: 20px 0;
  height: 50px;
  background-color: #FDFD96;
  text-align: center;
}

.openSans {
  width: 100%;
}

.muli {
  font-family: 'Muli';
}

.roboto {
  font-family: 'Roboto';
}

.oswald {
  font-family: 'Oswald';
}

.publicSans {
  font-family: 'Public Sans';
}

.saintGeorge {
  font-family: 'Saint George';
}

.arkibalSerif {
  font-family: 'Arkibal Serif';
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 10px;
  align-items: baseline;
  justify-content: space-between;
}

.font {
  flex: 1 20%;
  color:#587236;
}

.info {
  flex: 1 70%;
}

.divider {
  background-color: #587236;
  height: 5px;
  width: 100%;
}


.intro {
  flex: 1 20%;
  font-size: 60px;
  text-align: left;
}

.example {
  flex: 1 70%;
  font-size: 20px;
  text-align: left;
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 100;
}